$gray: #888;
$unchecked-star: '\2606';
$unchecked-color: $gray;
$checked-star: '\2605';
$checked-color: #e52;
$form-margin-top: 1rem 0 0;
$form-padding : 0.5rem;
$text-color-primary : $gray;
$text-color-primary-invert: #FFF;
$text-color-alert : #f00;
$text-size-1 : 1rem;
$text-size-2 : 1.5rem;
